@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}
.container {
    margin-top: 50px;
    width: 300px;
    box-shadow: 0 0 20px 10px rgba(41, 41, 192, 0.9);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}
h1 {
  margin-bottom: 40px;
}
input {
  border: none;
  border-bottom: 1px solid #0044ff;
  margin-bottom: 20px;
  width: 50%;
  outline: none;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
button {
  width: 100%;
  height: 35px;
  margin-top: 25px;
  border-radius: 20px;
  border: none;
  background-color: #0044ff;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: red;
}